<div id="<%= dom_id compra %>">
  <p>
    <strong>Name:</strong>
    <%= compra.name %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= compra.data %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= compra.price %>
  </p>

</div>
